<div id="add-form" [formGroup]="eventForm">
  <mat-form-field  >
    <mat-label>Name</mat-label>
    <input matInput id="name-input" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [min]="minDate" [matDatepicker]="picker" id="date-input" formControlName="date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Location</mat-label>
    <input matInput id="location-input" formControlName="location">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput id="description-input" formControlName="description"></textarea>
  </mat-form-field>

  <button type="submit" mat-stroked-button color="primary" (click)="addEvent()" >Add Event</button>

  <app-error-modal *ngIf="error" [errorMessage]="errorMessage" (closeModal)="closeModal()"></app-error-modal>
</div>
