<mat-card-header><h1>Event Planning and Collaboration Tool</h1></mat-card-header>
<div id="login-form" class="signup-main">
  <mat-card>
    <mat-card-header><h2>Reset password form</h2></mat-card-header>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <div>
        <mat-form-field>
          <input matInput name="email" type="email" required formControlName="email" readonly>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password:</mat-label>
          <input matInput name="password" type="password" required formControlName="password">
          <mat-error *ngIf="this.resetPasswordForm.get('password')?.hasError('required')">Password is required</mat-error>
          <mat-error *ngIf="this.resetPasswordForm.get('password')?.hasError('pattern')">Password must meet the requirements</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm Password:</mat-label>
          <input matInput name="confirmPassword" type="password" required formControlName="confirmPassword">
          <mat-error *ngIf="this.resetPasswordForm.get('confirmPassword')?.hasError('required')">Confirm Password is required</mat-error>
          <mat-error *ngIf="passwordMismatch">Passwords do not match</mat-error>
        </mat-form-field>
      </div>
      <div>
        <button type="submit" mat-raised-button color="primary" [disabled]="!resetPasswordForm.valid">Confirm</button>
      </div>
      <app-info-email *ngIf="isInfoMessage" [infoMessage]="infoMessage" (closeModal)="closeModal()"></app-info-email>
      <a *ngIf="isInfoMessage" [routerLink]="['/login']">Go to login page</a>
    </form>
  </mat-card>
</div>
