<p>
  <mat-toolbar id="header">
    <span id="header_toolbar">Event Planning Tool</span>
    <span class="spacer"></span>
    <button mat-stroked-button color="primary" class="header-btn">Back</button>
    <button mat-stroked-button color="primary" class="header-btn">Log Out</button>
  </mat-toolbar>
</p>

<div id="profile_info">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Profile</mat-card-title>
        <div id="photo">
          <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="photo">
        </div>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <h3>Information</h3>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>Username</span>
          <span matListItemLine>nabrasheva</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Email</span>
          <span matListItemLine>nabrasheva@gmail.com</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>First Name</span>
          <span matListItemLine>Niya</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Last Name</span>
          <span matListItemLine>Abrasheva</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Date of Birth</span>
          <span matListItemLine>27.04</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Address</span>
          <span matListItemLine>Plovdiv, Bulgaria</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <button type="button" mat-stroked-button color="primary">Update Profile</button>
  </mat-card>
</div>
