#table{
  margin: 20px;
}
#header{
  background: lightskyblue;
}
.spacer {
  flex: 1 1 auto;
}
.header-btn{
  margin: 10px;
  background: lightblue;
}
#title{
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: darkblue;
}

.button-add{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
