<div id="update-form" [formGroup]="taskForm">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput id="name-input" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput  [matDatepicker]="picker" id="date-input" formControlName="due_date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput id="description-input" formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select formControlName="status">
      <mat-option value="To Do">To Do</mat-option>
      <mat-option value="In Progress">In Progress</mat-option>
      <mat-option value="Done">Done</mat-option>
    </mat-select>
  </mat-form-field>

  <button type="submit" mat-stroked-button color="primary" (click)="updateTask()" >Update Event</button>

</div>

