<mat-card-header><h1>Event Planning and Collaboration Tool</h1></mat-card-header>
<div id="login-form" class="reset-password-main">
  <mat-card>
    <form [formGroup]="resetPasswordEmailForm" (ngSubmit)="resetPasswordEmail()">
      <mat-form-field>
        <mat-label>Email:</mat-label>
        <input matInput name="email" type="email" required formControlName="email">
        <mat-error *ngIf="this.resetPasswordEmailForm.get('email')?.hasError('email')">Email must be valid</mat-error>
      </mat-form-field>
      <div>
        <button type="submit" mat-raised-button color="primary" [disabled]="!resetPasswordEmailForm.valid">Confirm</button>
      </div>

      <app-info-email *ngIf="isInfoMessage" [infoMessage]="infoMessage" (closeModal)="closeModal()"></app-info-email>
    </form>
  </mat-card>
</div>
