<!--<div class="password-modal">-->
<!--  <mat-form-field>-->
<!--    <mat-label>Password:</mat-label>-->
<!--    <input matInput name="password" type="password" required formControlName="password">-->
<!--    <mat-error *ngIf="passwordControl.hasError('required')">Password is required</mat-error>-->
<!--  </mat-form-field>-->
<!--  <mat-form-field>-->
<!--    <mat-label>Confirm Password:</mat-label>-->
<!--    <input matInput name="confirmPassword" type="password" required formControlName="confirmPassword">-->
<!--    <mat-error *ngIf="confirmPasswordControl.hasError('required')">Confirm Password is required</mat-error>-->
<!--    <mat-error *ngIf="passwordMismatch">Passwords do not match</mat-error>-->
<!--  </mat-form-field>-->
<!--</div>-->
